<html ng-app="blockchain">
<head>
  <title>Monero blockchain explorer | MoneroStats.com</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="http://code.highcharts.com/stock/highstock.src.js"></script>
  <script src="/dist/highcharts-ng.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.3/angular-moment.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <script src="/config.js"></script>

  <link rel="stylesheet" href="/css/styles.css">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-883823-27', 'auto');
    ga('send', 'pageview');

  </script>
</head>




<body>
<div class="main-app-container">

  
<div ng-controller="BlocksListCtl">
   
<nav class="navbar navbar-inverse ng-scope">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" target="_self" href="/" title="Monero stats, monero block explorer, monero charts">MoneroStats</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="SearchBlockchainCtl">
      <ul class="nav navbar-nav">
        <li><a target="_self" class="" href="/blockchain/" title="Monero block explorer">Blockchain explorer</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Charts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_self" href="/charts/?type=basic" title="monero basic charts">Basic</a></li>
            <li><a target="_self" href="/charts/?type=transactions" title="monero transactions charts">Transactions</a></li>
            <li><a target="_self" href="/charts/?type=blocks" title="monero blocks charts">Blocks</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="block height / block hash / transaction hash" ng-model="search" />
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchFor(search)">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
   <noscript></noscript>

   
   <div class="main-app-container">

         <section class="blockchain">
            <div>
               <h1>
               <span>Monero blockchain explorer</span></h1>
               <div>
                  <ul class="pager">
                     <li class="previous" ng-if="prev_block_1 != prev_block_2"><a ng-click="changeHeight(prev_block_2)"><span class="arrow-left">&lt;</span> <span>{{prev_block_1}}</span><span> - </span><span>{{prev_block_2}}</span></a></li>
                     <li class="next" ng-if="next_block_1 != next_block_2"><a ng-click="changeHeight(next_block_2)"><span>{{next_block_1}}</span><span> - </span><span>{{next_block_2}}</span> <span class="arrow-right">&gt;</span></a></li>
                  </ul>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Height</th>
                           <th>Timestamp (UTC)</th>
                           <th class="text-center">Size</th>
                           <th class="text-center">Transactions</th>
                           <th>Hash</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="block in blocks">
                           <td><a target="_self" href="/blockchain/block/?hash={{block.hash}}">{{block.height}}</a></td>
                           <td><span><span>{{ block.timestamp | amFromUnix | amUtc | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</span></span><span> (</span><span>{{block.timestamp | amFromUnix | amUtc | timeAgo}}</span><span>)</span></td>
                           <td class="text-center">{{block.cumul_size}}</td>
                           <td class="text-center">{{block.tx_count}}</td>
                           <td><a target="_self" href="/blockchain/block/?hash={{block.hash}}">{{block.hash}}</a></td>
                        </tr>
                     </tbody>
                  </table>
                  <ul class="pager">
                     <li class="previous" ng-if="prev_block_1 != prev_block_2"><a ng-click="changeHeight(prev_block_2)"><span class="arrow-left">&lt;</span> <span>{{prev_block_1}}</span><span> - </span><span>{{prev_block_2}}</span></a></li>
                     <li class="next" ng-if="next_block_1 != next_block_2"><a ng-click="changeHeight(next_block_2)"><span>{{next_block_1}}</span><span> - </span><span>{{next_block_2}}</span> <span class="arrow-right">&gt;</span></a></li>
                  </ul>
               </div>
            </div>
         </section>
   </div>
</div>

</div>

<script src="/js/scripts.js"></script>

<script src="/js/app.js"></script>



  
<div>
   <nav id="footer" class="navbar navbar-default">
      <div class="shares">
         <div class="container">
            <div class="collapse navbar-collapse navbar-center" style="margin-top:10px">
            If you find this useful, please consider contributing.<br />
            Monero Address: 49Jt4tzbvZ5PyEMub6tNDGKP4zxogN9t1VACVWgTEcMwhtCGjxrDyt5XCDHG6XpA2U1uWsnsyKYdrL25Vp6y2pou2bdboCZ
            </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li class="copy"><a target="_self" href="/" title="monero block explorer"><span>© </span><span>2016</span><span> MoneroStats</span></a></li>
                  <li class="copy"><a target="_self" href="http://democats.org/" title="bytecoin, dashcoin, karbowanec pool"><span>Powered by Democats</span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</div>
</div>
</body>
</html>
