
<div>
   <nav id="footer" class="navbar navbar-default">
      <div class="shares">
         <div class="container">
            <div class="collapse navbar-collapse navbar-center" style="margin-top:10px">
            If you find this useful, please consider contributing.<br />
            Monero Address: 442rsDo9S4R957czwNe5YdeZwhNZyVG6hFg3apzhswuXUFvYghG2pzijiWuKMbLudWDif9y9E6N6JN683mFkCU3c3uuDKmh
            </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li class="copy"><a target="_self" href="/" title="monero block explorer"><span>© </span><span>2016</span><span> MoneroStats</span></a></li>
                  <li class="copy"><a target="_self" href="http://democats.org/" title="bytecoin, dashcoin, karbowanec pool"><span>Powered by Democats</span></a></li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</div>