
<nav class="navbar navbar-inverse ng-scope">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" target="_self" href="/" title="Monero stats, monero block explorer, monero charts">MoneroStats</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="SearchBlockchainCtl">
      <ul class="nav navbar-nav">
        <li><a target="_self" class="" href="/blockchain/" title="Monero block explorer">Blockchain explorer</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Charts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target="_self" href="/charts/?type=basic" title="monero basic charts">Basic</a></li>
            <li><a target="_self" href="/charts/?type=transactions" title="monero transactions charts">Transactions</a></li>
            <li><a target="_self" href="/charts/?type=blocks" title="monero blocks charts">Blocks</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="block height / block hash / transaction hash" ng-model="search">
        </div>
        <button type="submit" class="btn btn-default" ng-click="searchFor(search)">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
